h1{
  font-family: 'Crimson Text', serif;
}
.header{
  background:$bg-header;
  ul{
    .list-item{
       padding: 0 8px;
      .nav-link{
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
}
