$bg-header:  rgba(255, 255, 255, .2);
$text-white: #fff;
$link-active-color: #32c4d1;
$navbar-black: rgba(45, 42, 42, 1);
$bg-banner: rgba(8, 8, 8, 0.8);
$bg-form: rgba(20, 241, 212, 0.7);
$sub-heading: #656363;
$color-dark-btn: rgb(48, 43, 43) none repeat scroll 0 0;
$bg-look-box: rgba(50, 196, 209, 0.82);
$text-shadow-look: #bbb8b8;
$outline: #d8d7d7;
$card-text: #625e5e;
$card-btn: #333333;
$bg-black: #000;
